#body{
    background-color:#0D0D0D;
    
}

/*Menu*/
#divMenu{
    position: fixed;
    width: 100%;
    height: 14.5%;
    z-index: 4;
    background-color: #0d0d0d00;
}
    
#divLogo{
    height: 100%;
    float: left;
    position: relative;
    animation-duration: 0.7s;
}
#divConteudoLogo{
    height: 100%;
    width: 25%;
    position: relative;
    margin:0 auto;
    animation-duration: 0.7s;
    background-color: honeydew;
}
#imgLogo{
    z-index: 10;
    width: 100%;
    height: 100%;
    background-image: url("../img/logoRaio.png") ;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}
#imgLogoFundo{
    width: 100%;
    height: 100%;
    filter: blur(2vmax);
    background-image: url("../img/logoRaio.png") ;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}
@keyframes logo-blink {
    0% { opacity: 0; }
    15% { opacity: 1; }
    30% { opacity: 0; }
    45% { opacity: 0; }
    60% { opacity: 0; }
    75% { opacity: 1; }
    95% { opacity: 0; }
    100% { opacity: 0.5; }
}
.logo-blink {
  -webkit-animation: logo-blink .65s linear;
  -moz-animation: logo-blink .65s linear;
  -ms-animation: logo-blink .65s linear;
  -o-animation: logo-blink .65s linear;
  animation: logo-blink .65s linear;
  animation-delay: 0.7s;
}
#navLink{
    width: 70%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.linkInicio  {
    color: white;
    margin-left:5%;
    float:left;
    text-decoration: none;
    font-family: 'Spartan', sans-serif;
    font-size: 1.5vmax;
}
 .linkContato   {
    color: white;
    float: left;
    margin-left: 8%;
    text-decoration: none;
    text-decoration-color: rgba(0, 0, 0, 0);
    font-family: 'Spartan', sans-serif;
    font-size: 1.5vmax;
}
 .linkSobre   {
    color: white;
    margin-left: 8%;
    float: left;
    text-decoration: none;
    text-decoration-color: rgba(0, 0, 0, 0);
    font-family: 'Spartan', sans-serif;
    font-size: 1.5vmax;
}
 .linkProjeto   {
    color: white;
    margin-left: 8%;
    float: left;
    text-decoration: none;
    text-decoration-color: rgba(0, 0, 0, 0);
    font-family: 'Spartan', sans-serif;
    font-size: 1.5vmax;
}
 .linkInicio:hover{
    color:white;
}
 .linkSobre:hover{
    color:white;
    
}
 .linkProjeto:hover{
    color:white;
}
 .linkContato:hover{
    color:white;
}
/*Formatação do botão de subir a pagina*/
#btnTop{
    position: fixed;
    bottom: 10%;
    right: 4%;
    border: none;
    border-radius: 50%;
    background-color: #F2CB05;
    outline: none;
    width: 4em;
    height: 4em;
    display: none;
    z-index: 1;
}
#imgBtnTop{
    width: 50%;
    height: 50%;
    margin-left: -0.9em;
    margin-top: -1em;
    position: absolute;
    z-index: 1;

}
#divFundoBtn{
    height: 100%;
    width: 4em;
    margin-top: -2em;
    margin-left: -0.7em;
    filter: blur(1.5em);
    opacity: 0.6;
    background-color: #F2CB05;
    position: absolute;
}
@keyframes btnTop-blink {
    0% { opacity: 0; }
    10% { opacity: 0.2; }
    20% { opacity: 0.8; }
    30% { opacity: 0.1; }
    40% { opacity: 0.9; }
    50% { opacity: 0; }
    60% { opacity: 0; }
    70% { opacity: 0; }
    80% { opacity: 0.1; }
    90% { opacity: 0.2; }
    93% { opacity: 0.3; }
    95% { opacity: 0.4; }
    98% { opacity: 0.5; }
    100% { opacity: 0.6; }
}
.btnTop-blink {
  -webkit-animation: btnTop-blink .65s linear;
  -moz-animation: btnTop-blink .65s linear;
  -ms-animation: btnTop-blink .65s linear;
  -o-animation: btnTop-blink .65s linear;
  animation: btnTop-blink .65s linear;
  animation-delay: 0.7s;
}

  
/*Formatação do Scroll*/
::-webkit-scrollbar-track {
    background-color: #404040;
}
::-webkit-scrollbar {
    width: 8px;
    background: #F2CB05;
}
::-webkit-scrollbar-thumb {
    background: #F2CB05;
}


/*Conteudo do inicio*/
#inicioSec{
    height: 100vmax;
    width: 100%;
    background-size: cover;
}
#divConteudoInicio{
    width: 100% ;
    height: 100%;
    position: absolute;
}
#imgFundo{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../img/fundo.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#sobreFundo{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

#divTextoInicio{
    width: 40%;
    height: auto;
    margin: 0 auto;
    position: relative;
    margin-top: 25vmax;
}

#tituloTxtInicio{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: #F2CB05;
    font-size: 3vmax;
}

#subTituloTxtInicio{
    font-family: 'Spartan', sans-serif;
    text-align: center;
    margin-top: 3vmax;
    color: white;
    font-size: 2vmax;
    
}
#hrInicio1{
    width: 100%;
    height: 2%;
    margin: 0 auto;
    background-color: #F2CB05;
    position: absolute;
    opacity: 1;
    z-index: 5;
}
#hrInicio2{
    width: 100%;
    height: 2%;
    margin: 0 auto;
    background-color: white;
    opacity: 1;
    position: absolute;
    filter: blur(6px);
}
#projetosSec{
    background-color:#0D0D0D;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}