html, #body{
    height: 100%;
    background-color: #F2CB05;
}

/*Menu*/
#divMenu{
    position: fixed;
    width: 100%;
    height: 14.5%;
    z-index: 4;
    background-color: #0d0d0d00;
}
    
#divLogo{
    height: 100%;
    float: left;
    position: relative;
    animation-duration: 0.7s;
}

#divConteudoLogo{
    height: 100%;
    width: 25%;
    position: relative;
    margin:0 auto;
    animation-duration: 0.7s;
}

#imgLogo{
    width: 100%;
    height: 100%;
    background-image: url("../img/logoRaio.png") ;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}

#imgLogoFundo{
    width: 100%;
    height: 100%;
    filter: blur(2vmax);
    background-image: url("../img/logoRaio.png") ;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}

@keyframes logo-blink {
    0% { opacity: 0; }
    15% { opacity: 1; }
    30% { opacity: 0; }
    45% { opacity: 0; }
    60% { opacity: 0; }
    75% { opacity: 1; }
    95% { opacity: 0; }
    100% { opacity: 0.5; }
}

.logo-blink {
  -webkit-animation: logo-blink .65s linear;
  -moz-animation: logo-blink .65s linear;
  -ms-animation: logo-blink .65s linear;
  -o-animation: logo-blink .65s linear;
  animation: logo-blink .65s linear;
  animation-delay: 0.7s;
}

#navLink{
    width: 70%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.linkInicio  {
    color: white;
    margin-left:5%;
    float:left;
    text-decoration: none;
    font-family: 'Spartan', sans-serif;
    font-size: 20px;
}

.linkSobre   {
    color: white;
    margin-left: 8%;
    float: left;
    text-decoration: none;
    font-family: 'Spartan', sans-serif;
    font-size: 20px;
}

.linkServico   {
    color: white;
    margin-left: 8%;
    float: left;
    text-decoration: none;
    font-family: 'Spartan', sans-serif;
    font-size: 20px;
}

.linkContato   {
    color: white;
    margin-left: 8%;
    float: left;
    text-decoration: none;
    font-family: 'Spartan', sans-serif;
    font-size: 20px;
}
 
.linkInicio:hover{
    color:white;
}
 
.linkSobre:hover{
    color:white;
    
}
 
.linkServico:hover{
    color:white;
}
 
.linkContato:hover{
    color:white;
}

/*Formatação do botão de subir a pagina*/
#btnTop{
    position: fixed;
    bottom: 10%;
    right: 4%;
    border: solid;
    border-color: #F2CB05;
    border-width: 0.1vmax;
    border-radius: 50%;
    background-color: #0d0d0d;
    outline: none;
    width: 5%;
    height: 10%;
    display: none;
    box-shadow: 0 0 40px #F2CB05;
}

#imgBtnTop{
    width: 50%;
    height: 50%;
    margin-left: -25%;
    margin-top: -25%;
    position: absolute;
    z-index: 5;
    background-image: url('../img/btnTop3.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.btnTop-blink {
  -webkit-animation: btnTop-blink .65s linear;
  -moz-animation: btnTop-blink .65s linear;
  -ms-animation: btnTop-blink .65s linear;
  -o-animation: btnTop-blink .65s linear;
  animation: btnTop-blink .65s linear;
  animation-delay: 0.7s;
}

  
/*Formatação do Scroll*/
::-webkit-scrollbar-track {
    background-color: #404040;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #F2CB05;
}

::-webkit-scrollbar-thumb {
    background: #F2CB05;
}


/*Conteudo do inicio*/
#inicioSec{
    height: 100%;
    width: 100%;
}

#divConteudoInicio{
    width: 100% ;
    height: 100%;
    background-image: url("../img/fundo.jpg") ;
    background-position: center;
    position: absolute;
    background-size: cover;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: 0 10px 3px #f29f05;
}

#divTextoInicio{
    width: 40%;
    height: auto;
    margin: 0 auto;
    position: relative;
    top: 50%;
}

#tituloTxtInicio{
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 2px black;
    font-size: 3vmax;
    margin-bottom: 3%;
}

#subTituloTxtInicio{
    font-family: 'Spartan', sans-serif;
    text-align: center;
    margin-top: 10%;
    color: white;
    font-size: 2vmax;
    text-shadow: 2px 2px 1px black;
}

#hrInicio1{
    width: 100%;
    height: 4%;
    margin: 0 auto;
    background-color: #F2CB05;
    position: absolute;
    opacity: 1;
    box-shadow: 0 0 15px red;
}

.divIconesInicio{
    margin-top: 7%;
    margin-left: 30%;
}

.divIconesInicio .icones{
    width: 10%;
    height: 10%;
    float: left;
    margin-left: 7%;
}
/*Conteudo sobre*/
#sobreSec{
}

#conteudoSobre{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

#divSobreTitulo{
    position: relative;
}

#sobreTitulo{
    color: #0d0d0d;
    font-size: 4vmax;
    position: relative;
    text-shadow: 3px 3px 1px #f29f05;
}

#pontoImg{
    height: 10%;
    width: 10%;
    position: relative;
}

#sobreTxt{
    color: #0d0d0d;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5vmax;
    text-shadow: 1px 1px 1px #f29f05;
}

/*Conteudo dos servicos*/
#servicosSec{
    border-bottom-color: #f0f0f0;
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-top-color: #f0f0f0;
    border-top-width: 7px;
    border-top-style: solid;
    box-shadow: 0 6px 4px #464646;
    background-color: #0d0d0d;
    height: 100%;
    width: 100%;
}

.servicosC{
    width: 100%;
    height: 100%;
}

.txtTituloServico{
    color: white;
}

.hrServico{
    background-color: #F2CB05;
    width: 10%;
    padding-bottom: 0.5%;
    opacity: 1;
}

.linha1Servico{
    width: auto;
    height: 40%;
    margin-top: 6%;
}

.linha1Servico .divIcone1{
    width: 30%;
    float: left;
    height: 100%;
}

.linha1Servico .divIcone2{
    margin-left: 5%;    
    width: 30%;
    height: 100%;
    float: left;
}

.linha1Servico .divIcone3{
    margin-left: 5%;    
    width: 30%;
    height: 100%;
    float: left;
}

.linha1Servico .icones{
    width: 20%;
}

.txtDescServico{
    color: #f0f0f0;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4vmax;
}

.txtSubDescServico{
    color: rgb(196, 196, 196);
    font-family: 'Quicksand', sans-serif;
    font-size: 1vmax;
}

.linha2Servico{
    width: auto;
    height: 30%;
}

.linha2Servico .divIcone1{
    width: 30%;
    float: left;
    margin-left: 18%;    
    height: 100%;
}

.linha2Servico .divIcone2{
    margin-left: 5%;    
    width: 30%;
    float: left;
    height: 100%;
}

.linha2Servico .icones{
    width: 20%;
}

/*Conteudo dos contato*/
#contatoSec{
    height: 100%;
}

#containerContato{
    width: 60%;
    height: 70%;
    margin: 0 auto;
    background-color: #0d0d0d;
    border-radius: 1%;
    box-shadow: 10px 10px 6px black;
}

#conteudoContato{
    width: 100%;
    height: 100%;
    color: white;
    outline: none;
}

#divTxtContato{
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    border-width: 0.5vmax;
    border-style:solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right-color: #F2CB05;
}

#imgIconEmail{
    width: 25%;
    height: 25%;
    margin-top: 15%;
}

.divIconesContato{
    margin-top: 7%;
    margin-left: 27%;
}

.divIconesContato .icones{
    width: 12%;
    float: left;
    margin-left: 7%;
}

#tituloTxtContato{
    font-size: 3.3vmax;
    color: white;
}

#subTxtContato{
    font-size: 1vmax;
    font-family: 'Quicksand', sans-serif;
    width: 90%;
}

#formContato{
    position: relative;
    float: right;
    width: 50%;
}

#txtNome{
    outline: none;
    background-color: #0d0d0d;
    border-style: solid;
    border-color: #404040;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    width: 84%;
    margin-left: 7%;
    margin-top: 10%;
}

#lblNome{
    color: #404040;
    position: absolute;
    margin-top: 16%;
    margin-left: 10%;
}

#txtEmail{
    outline: none;
    background-color: #0d0d0d;
    border-style: solid;
    border-color: #404040;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    width: 84%;
    margin-left: 7%;
}

#lblEmail{
    margin-top: 6%;
    position: absolute;
    color: #404040;
    margin-left: 10%;
}

#txtAssunto{
    outline: none;
    background-color: #0d0d0d;
    border-style: solid;
    border-color: #404040;
    color: white;
    width: 84%;
    height: 7%;
    margin-left: 7%;
    border-width: 0.2vmax;
}

#lblAssunto{
    margin-top: 6.5%;
    margin-left: 10%;
    position: absolute;
    color: #404040;
    background-color: #0d0d0d;
    padding-left: 1%;
    padding-right: 1%;
}

#txtMensagem{
    outline: none;
    background-color: #0d0d0d;
    border-style: solid;
    border-color: #404040;
    color: white;
    width: 84%;
    margin-left: 7%;
    border-width: 0.2vmax;
    resize: none;
    box-shadow: none;
}

#lblMensagem{
    background-color: #0d0d0d;
    margin-top: 3%;
    margin-left: 10%;
    padding-left: 1%;
    padding-right: 1%;
    position: absolute;
    color: #404040;
}

#btnEnviar{
    background-color: #0d0d0d;
    border-style: solid;
    border-color: #F2CB05;
    border-radius: 10%;
    color: white;
    font-family: 'Quicksand', sans-serif;
    transition: 0.3s;
}

#btnEnviar:hover{
    box-shadow: 0px 0px 10px #F2CB05;
    transition: 0.3s;
}

.footer{
    background-color: #0d0d0d;
}

#gitIcon{
    width: 4%;
}

#divTxtLocal{
    text-align: center;
    background-color: blue;
    width: 30%;
    float: left;
}

#divTxtMe{
    background-color: red;
    width: 30%;
    float: left;
}

/*Css mobile*/
@media screen and (max-width: 1024px) {
    /*Menu*/
    .linkInicio {
        margin-left:0%;
        font-size: 11px;
    }

    .linkSobre {
        margin-left: 0%;
        font-size: 11px;
    }

    .linkServico {
        margin-left: 0%;
        font-size: 11px;
    }

    .linkContato {
        margin-left: 0%;
        font-size: 11px;
    }

    /*Inicio*/
    #inicioSec {
		height: 100%;
        width: 100%;
        padding-bottom: 100vmax;
	}

    #divTextoInicio{
        width: 50%;
        height: auto;
        margin: 0 auto;
        position: relative;
        top: 40vmax;
    }

    .divIconesInicio{
        margin-top: 10%;
        margin-left: 15%;
    }

    .divIconesInicio .icones{
        width: 4vmax;
        height: 4vmax;
        float: left;
        margin-left: 7%;
    }

    /*botão de subir a pagina*/
    #btnTop{
        width: 70px;
        height: 70px;
        box-shadow: 0 0 10px #F2CB05;
        border-radius: 100%;
    
    }

    #imgBtnTop{
        width: 40%;
        height: 40%;
        margin-left: -20%;
        margin-top: -20%;
    }

    /*Sobre*/
    #sobreTxt {
    font-size: 16px;
	}

    /*Conteudo dos servicos*/
    #servicosSec{
        height: 120%;
        width: 100%;
    }

    .servicosC{
        width: 100%;
        height: 80%;
    }

    .hrServico{
        width: 20%;
        padding-bottom: 1%;
    }

    .linha1Servico{
        width: auto;
        height: 40%;
        margin-top: 6%;
    }

    .linha1Servico .divIcone1{
        width: 30%;
        float: left;
        height: 100%;
    }

    .linha1Servico .divIcone2{
        margin-left: 5%;    
        width: 30%;
        height: 100%;
        float: left;
    }

    .linha1Servico .divIcone3{
        margin-left: 5%;    
        width: 30%;
        height: 100%;
        float: left;
    }

    .linha1Servico .icones{
        width: 30%;
    }

    .txtDescServico{
        color: #f0f0f0;
        font-family: 'Quicksand', sans-serif;
        font-size: 1.4vmax;
    }

    .txtSubDescServico{
        color: rgb(196, 196, 196);
        font-family: 'Quicksand', sans-serif;
        font-size: 1vmax;
    }

    .linha2Servico{
        width: auto;
        height: 30%;
    }

    .linha2Servico .divIcone1{
        width: 30%;
        float: left;
        margin-left: 20%;    
        height: 100%;

    }

    .linha2Servico .divIcone2{
        margin-left: 5%;    
        width: 30%;
        float: left;
        height: 100%;
    }

    .linha2Servico .icones{
        width: 30%;
    }

    /*Contato*/
    #contatoSec{
        height: 100%;
        margin-bottom: 100%;
    }

    #containerContato{
        width: 90%;
        height: auto;
        box-shadow: none;
    }

    #conteudoContato{
        width: 100%;
        height: 100%;
    }

    #divTxtContato{
        width: 100%;
        height: auto;
        float: none;
        border-style:solid;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom-color: #F2CB05;
        padding-bottom: 10%;
    }

    #imgIconEmail{
        width: 30%;
        height: 30%;
        margin-top: 10%;
    }

    .divIconesContato{
        width: 40%;
        margin: 0 auto;
        height: auto;
        margin-bottom: 10%;
    }

    .divIconesContato .icones{
        width: 26.3%;
        height: 26.3%;
        margin-left: 7%;
    }

    #tituloTxtContato{
        font-size: 35px;
    }

    #subTxtContato{
        font-size: 12px;
    }

    #formContato{
        height: auto;
        width: 100%;
        margin-bottom: 10%;
        position: relative;
        background-color: #0d0d0d;
        border-color: #F2CB05;
        border-bottom-left-radius: 2%;
        border-bottom-right-radius: 2%;
        border-style: solid;
    }

    #txtNome{
        width: 90%;
        margin-left: 5%;
        margin-top: 8%;
    }

    #lblNome{
        margin-top: 16%;
        margin-left: 7%;
    }

    #txtEmail{
        width: 90%;
        margin-left: 5%;
    }

    #lblEmail{
        margin-top: 6%;
        margin-left: 7%;
    }

    #txtAssunto{
        width: 90%;
        height: 4%;
        margin-left: 5%;
        margin-top: -4%;
    }

    #lblAssunto{
        margin-top: 9.36%;
        margin-left: 7%;
        padding-left: 2%;
        padding-right: 2%;
    }

    #txtMensagem{
        width: 90%;
        height: 15%;
        margin-left: 5%;
    }

    #lblMensagem{
        margin-top: 5%;
        margin-left: 7%;
        padding-left: 1%;
        padding-right: 1%;
    }

}

@media screen and (max-width: 1024px) {
}
